extends layout

block content
  - var namespace = "contact";

  section.fade-in
    .social-grid
      a.social-link(href="https://github.com/jaswen12", target="_blank")
        i.fab.fa-github
        span GitHub

      a.social-link(href="https://www.linkedin.com/in/jasper-wen/", target="_blank")
        i.fab.fa-linkedin
        span LinkedIn

      a.social-link(href="https://line.me/ti/p/jfI036I-TR", target="_blank")
        i.fab.fa-line
        span Line

  section.fade-in.contact-section
    h2 Drop a message 📬
    .contact-form
      form(method="POST", action="/contact")
        label(for="name") Name
        input(type="text", name="name", id="name", required)

        label(for="email") Email
        input(type="email", name="email", id="email", required)

        label(for="message") Message
        textarea(name="message", id="message", rows="6", required)

        button(type="submit") Send
