doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Jasper Wen's personal site")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="icon", href="/favicon.png", type="image/png")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css")

  body
    header
      nav
        ul
          li: a.nav-link(href="/") Home
          li: a.nav-link(href="/projects") Projects
          li: a.nav-link(href="/resume") Resume
          li: a.nav-link(href="/contact") Contact

    main
      block content

    footer
      p © 2025 Jasper

    // CLIP-PATH TRANSITION OVERLAY
    #svg-ripple-mask
      svg#ripple-mask-svg(viewBox="0 0 100 100" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg")
        defs
          clipPath#ripple-clip
            each val in [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
              rect(x=val, y="0", width="2", height="100")
        rect(width="100%", height="100%", fill="black", clip-path="url(#ripple-clip)")

    // SCRIPTS
    script(src="/js/fadeIn.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js")
    script(src="/js/svg-ripple.js")