doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Jasper Wen's personal site")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="icon", href="/favicon.png", type="image/png")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css")

  body
    header
      nav
        ul
          li: a.nav-link(href="/") Home
          li: a.nav-link(href="/projects") Projects
          li: a.nav-link(href="/resume") Resume
          li: a.nav-link(href="/contact") Contact

    main
      block content

    footer
      p © 2025 Jasper

    // SVG ripple mask overlay
    #svg-ripple-mask
      svg#ripple-mask-svg(viewBox="0 0 100 100" preserveAspectRatio="none")
        mask#ripple-mask
          rect(width="100%" height="100%" fill="white")
          rect.mask-rect(x="0", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="2", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="4", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="6", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="8", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="10", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="12", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="14", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="16", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="18", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="20", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="22", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="24", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="26", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="28", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="30", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="32", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="34", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="36", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="38", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="40", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="42", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="44", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="46", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="48", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="50", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="52", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="54", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="56", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="58", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="60", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="62", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="64", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="66", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="68", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="70", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="72", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="74", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="76", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="78", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="80", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="82", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="84", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="86", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="88", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="90", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="92", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="94", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="96", y="0", width="2", height="100", fill="black")
        rect.mask-rect(x="98", y="0", width="2", height="100", fill="black")

    // SCRIPTS
    script(src="/js/fadeIn.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js")
    script(src="/js/svg-ripple.js")