doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Jasper Wen's personal site")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="icon", href="/favicon.png", type="image/png")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css")

  body
    #background-layer
    #transition-overlay

    header
      nav
        ul
          li: a.nav-link(href="/") Home
          li: a.nav-link(href="/projects") Projects
          li: a.nav-link(href="/resume") Resume
          li: a.nav-link(href="/contact") Contact

    main
      block content

    footer
      p © 2025 Jasper

    // SCRIPTS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js")
    script(src="/js/overlay-transition.js")
    script(src="/js/fade-up.js")
