extends layout

block content
  section.fade-in(data-barba="container" data-barba-namespace="resume")
    h2 My Resume

    .resume-container
      iframe(src="/resume.pdf", width="100%", height="800px")