extends layout

block content
  #barba-wrapper
    .barba-container(data-barba="container" data-barba-namespace="resume")
      section.fade-in
        .resume-container
          embed(src="/resume.pdf" type="application/pdf")
